.main {
  padding: var(--margin-S) 0 var(--margin-S) var(--margin-S);
  padding-left: 13px;
  position: relative;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  width: 100%;
  grid-gap: 25px;
  row-gap: 80px;
  padding-right: 13px;
  margin-bottom: 40px;
}

.wrapper p + p {
  margin-top: 1em;
}

.col2 {
  grid-column: span 2;
}
.col3 {
  grid-column: span 3;
}
.col4 {
  grid-column: span 4;
}
.col5 {
  grid-column: span 5;
}

.list {
  margin-bottom: 15px;
}

.footer {
  display: flex;
  width: calc(100vw - 2 * var(--margin-S));
  padding-right: var(--margin-S);
  justify-content: space-between;
  font-size: var(--XSfontSize);
  bottom: 0;
  padding-bottom: var(--margin-S);
  background: var(--bg-color);
  margin-top: 50px;
}

.menuItem,
.menuItemLink {
  font-size: var(--XSfontSize);
  margin-bottom: 10px;
}

.menuItemLink {
  cursor: pointer;
}

.menuItemRow {
  display: flex;
  justify-content: space-between;
}

.menuItemLink:hover {
  text-decoration: underline;
}

.menuItemActive {
  text-decoration: underline;
  pointer-events: none;
}

.textBlock {
  margin-bottom: 25px;
}

.smallText,
.smallText h2 {
  font-size: var(--XSfontSize);
  line-height: var(--XSfontLineHeight);
}

.selectedPress h2 {
  font-size: var(--XSfontSize);
  line-height: var(--XSfontLineHeight);
}

.headerLeftWrapper {
  width: 95px;
  padding: 8px 6px 4px 0px;
  display: flex;
  justify-content: space-between;
}

.headerImg {
  position: fixed;
  top: 0;
  pointer-events: none;
}

.headerImg img {
  max-height: 50vh;
}

.aboutWrapper {
  display: flex;
  padding: var(--margin-S) 0 var(--margin-S) 3px;
  margin-top: 50px;
  width: 100%;
}

.aboutText {
  width: 25%;
  padding-bottom: 50px;
}

.aboutText p {
  padding-bottom: 10px;
}

.aboutSelectedPress {
  width: 41.666%;
}

.aboutEntry {
  display: flex;
  justify-content: space-between;
}

.aboutEntry h2:first-child {
  padding-right: 20px;
}

.MBaboutWrapper {
  display: none;
}

.imprintWrapper p {
  padding-left: 4px;
}

.imprintWrapper {
  margin-top: 35px;
  width: 35%;
  padding-bottom: var(--margin-M);
  min-width: 500px;
  max-width: calc(100vw - 2 * var(--margin-S));
}

.serviceColumn {
  padding-top: 8px;
}

.exhibitionsColumn {
  padding-top: 12px;
}

.workshopsMobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .col2 {
    grid-column: span 3;
  }
  .selectedPress {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1100px) {
  .aboutWrapper {
    display: none;
  }
  .MBaboutWrapper {
    display: block;
    padding: 12px;
  }
  .MBaboutText {
    margin-top: 80px;
  }
  .MBaboutText h2 {
    font-size: var(--XSfontSize);
    margin: 30px 0;
  }

  .MBaboutText p {
    padding-bottom: 15px;
  }

  .MBaboutContact {
    padding-bottom: 30px;
    width: calc(100% - 140px);
  }
  .MBaboutPress {
    font-size: var(--XSfontSize);
    line-height: var(--XSfontLineHeight);
  }

  .MBaboutPortrait {
    position: absolute;
    right: 30px;
    width: 120px;
    height: 100px;
    padding-top: 20px;
    /* background: red; */
  }
  .aboutEntry p {
    font-size: var(--XSfontSize);
    line-height: var(--XSfontLineHeight);
  }
  .aboutUpcomingShows h2 {
    margin: 0 0 20px;
  }
  .aboutUpcomingShows h2:not(:first-child) {
    margin-top: 20px;
  }
  .MBimprint h3 {
    margin-top: 50px;
  }

  .imprintWrapper {
    padding-bottom: 30px;
  }

  .imprintWrapper p {
    font-size: var(--XSfontSize);
    line-height: var(--XSfontLineHeight);
  }
  .footerWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--XSfontSize);
    line-height: var(--XSfontLineHeight);
    border-top: var(--border);
    height: 31px;
  }
  .imprintTop {
    padding-bottom: 20px;
  }
  .textColumn {
    grid-column: span 6;
  }
  .serviceColumn {
    grid-column: span 3;
  }
  .footerWrapper {
    position: fixed;
    bottom: 12px;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: block;
  }
  .aboutEntry,
  .menuItemRow,
  .selectedPress {
    max-width: 500px;
  }
  .selectedPress {
    display: none;
  }
  .workshopsDesktop {
    display: none;
  }
  .workshopsMobile {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .imprintWrapper {
    width: 100%;
    min-width: unset;
  }
}
