* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Monument-Regular";
  src: url("/fonts/ABCMonumentGrotesk-Regular-Trial.woff2") format("woff2"),
    url("/fonts/ABCMonumentGrotesk-Regular-Trial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument-Medium";
  src: url("/fonts/ABCMonumentGrotesk-Medium-Trial.woff2") format("woff2"),
    url("/fonts/ABCMonumentGrotesk-Medium-Trial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --margin-XL: 600px;
  --margin-L: 390px;
  --margin-M: 30px;
  --margin-S: 8px;

  --XSfontSize: 13px;
  --XSfontLineHeight: 16px;

  --border: 1.5px solid;

  --bg-color: white;
  --primary-color: black;
}

.dark-mode {
  --bg-color: black;
  --primary-color: white;
}

.color-mode {
  --bg-color: #af7653;
  --primary-color: black;
}

::-moz-selection {
  background: black;
  color: var(--bg-color);
  opacity: 1;
}
::selection {
  background: black;
  color: var(--bg-color);
  opacity: 1;
}

html {
  scroll-snap-type: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Monument-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  scroll-behavior: smooth;
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  overscroll-behavior: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
p {
  font-size: 22.5px;
  line-height: 26px;
  word-spacing: -0.07em;
  font-weight: normal;
  margin: 0;
}

p a {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

main {
  padding: var(--margin-S);
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.scrollSnapEnabled {
  scroll-snap-type: y mandatory;
}

@media screen and (max-width: 1100px) {
  :root {
    --margin-XL: 600px;
    --margin-L: 250px;
    --margin-M: 30px;
    --margin-S: 8px;

    --XSfontSize: 11px;
    --XSfontLineHeight: 13px;

    --border: 1.5px solid var(--primary-color);
  }

  body {
    font-size: 17pt;
    line-height: 22px;
  }
  h1,
  h2,
  p {
    font-size: 17pt;
    line-height: 19pt;
    word-spacing: -0.07em;
    font-weight: normal;
    margin: 0;
  }
}
