.headerWrapper {
  font-size: var(--XSfontSize);
  width: 100%;
  position: relative;
  z-index: 100;
}

.headerAboutWrapper {
  width: calc(100vw - var(--margin-S));
  position: fixed;
  padding-top: var(--margin-S);
  background: var(--bg-color);
  z-index: 50;
}

.headerLeftWrapper {
  padding: var(--margin-S) 12px 4px var(--margin-S);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-left: 4px;
  font-size: var(--XSfontSize);
  background: var(--bg-color);
  width: 25vw;
}

.menuItemRight {
  margin-right: 20px;
}

.headerAboutTopWrapper {
  height: 27px;
  padding: 0 4px 4px 4px;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 2 * var(--margin-S));
}

.headerRightWrapper {
  padding: 4px 7px 0 0;
  display: flex;
  justify-content: flex-start;
  height: 31px;
  width: clamp(300px, 20vw, 20vw);
  z-index: 100;
}

.headerRightWrapper h2 {
  font-size: var(--XSfontSize);
}

.headerRightWrapper h2:first-child {
  width: 48%;
}
.headerRightWrapper h2:nth-child(2) {
  width: 32%;
}
.headerRightWrapper h2:nth-child(3) {
  width: 30%;
  text-align: right;
}

.headerAboutBottomWrapper {
  padding: 4px 3px;
  display: flex;
  height: 31px;
}

.headerBottomWrapperAbout {
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
  height: 31px;
}

.headerBottomWrapper h2,
.headerAboutBottomWrapper h2 {
  font-size: var(--XSfontSize);
  line-height: var(--XSfontLineHeight);
}

.headerBottomLeft {
  display: flex;
  justify-content: space-between;
  width: 16.666%;
}

.headerAboutCol {
  width: 25%;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 100px;
  padding-right: 8px;
}

.headerAboutHeader {
  width: 33.333%;
}

.headerSelectedPress {
  width: calc(41.666% + 6px);
  padding-right: 20px;
  cursor: default;
}

.headerAboutTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  width: calc(100%);
}

.headerAboutMid {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.headerSelectedPress h2 {
  padding-bottom: 12px;
}

.headerImg {
  width: 16.666vw;
  height: 1000px;
  pointer-events: none;
}

.headerRight {
  display: flex;
  position: absolute;
  right: var(--margin-S);
  top: var(--margin-S);
  z-index: 1;
}

.colorSwitch {
  width: 11px;
  height: 11px;
  background: black;
  border-radius: 50%;
  margin: 4px 3px;
  cursor: pointer;
}

.indexButton {
  margin-left: 20px;
  padding-right: 3px;
}

.portraitOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 1000;
}

.menuItem {
  cursor: pointer;
  text-underline-offset: 3px;
}

.menuItem:hover {
  text-decoration: underline;
}

.menuItemActive {
  text-decoration: underline;
  pointer-events: none;
}

@media screen and (max-width: 1100px) {
  .main {
    margin-left: 4px;
  }
  .headerTopWrapper {
    margin: 0 0 0 var(--margin-S);
    padding: 0 4px;
  }

  .headerLeftWrapper {
    width: 100%;
    z-index: 10000;
  }

  .headerWrapper {
    width: calc(100vw - 2 * var(--margin-S));
    z-index: 100000;
    margin-left: var(--margin-S);
    left: 0;
  }
  .headerRight {
    z-index: 10000;
  }
  .headerAboutBottomWrapper {
    display: none;
  }
  .headerAboutWrapper {
    display: none;
  }
  .headerAboutTop p,
  .headerAboutMid p {
    font-size: var(--XSfontSize);
    line-height: var(--XSfontLineHeight);
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .headerRightWrapper {
    width: 30vw;
    justify-content: space-between;
    padding-right: 4px;
  }
  .headerRightWrapper h2:nth-child(2) {
    text-align: right;
  }
  .headerRightWrapper h2:nth-child(3) {
    display: none;
  }

  .portraitOverlay {
    display: none;
  }
}
