.headerWrapper {
  width: calc(100vw - 2 * var(--margin-S));
  position: fixed;
  top: 0;
  padding-top: var(--margin-S);
  background: white;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  transition: border-bottom-width 0.2s linear;
}

.headerAboutWrapper {
  width: calc(100vw - var(--margin-S));
  position: fixed;
  top: 0;
  padding-top: var(--margin-S);
  background: white;
  z-index: 50;
}

.headerLeftWrapper {
  height: 27px;
  width: 150px;
  padding: 0 6px 4px 6px;
  display: flex;
  justify-content: space-between;
}

.headerPageIndex {
  border-bottom: var(--border);
}

.headerAboutTopWrapper {
  height: 27px;
  padding: 0 4px 4px 4px;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 2 * var(--margin-S));
}

.headerRightWrapper {
  padding: 4px 7px 0 0;
  display: flex;
  justify-content: flex-start;
  height: 31px;
  width: 20vw;
}

.headerRightWrapper h2 {
  font-size: var(--XSfontSize);
}

.headerRightWrapper h2:first-child {
  width: 48%;
}
.headerRightWrapper h2:nth-child(2) {
  width: 32%;
}
.headerRightWrapper h2:nth-child(3) {
  width: 30%;
  text-align: right;
}

.headerAboutBottomWrapper {
  padding: 4px 7px;
  display: flex;
  height: 31px;
}

.headerBottomWrapperAbout {
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
  height: 31px;
}

.headerBottomWrapper h2,
.headerAboutBottomWrapper h2 {
  font-size: var(--XSfontSize);
  line-height: var(--XSfontLineHeight);
}

.headerBottomLeft {
  display: flex;
  justify-content: space-between;
  width: 16.666%;
}

.headerAboutCol {
  width: 25%;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 100px;
  padding-right: 8px;
}

.headerAboutHeader {
  width: 33.333%;
}

.headerSelectedPress {
  width: calc(41.666% + 6px);
  padding-right: 20px;
  cursor: default;
}

.headerAboutTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  width: calc(100%);
}

.headerAboutMid {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.headerSelectedPress h2 {
  padding-bottom: 12px;
}

.headerImg {
  width: 16.666vw;
  height: 1000px;
  pointer-events: none;
}

.portraitOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 1000;
}

@media screen and (max-width: 700px) {
  .headerTopWrapper {
    margin: 0 0 0 var(--margin-S);
    padding: 0 4px;
  }

  .headerLeftWrapper {
    padding: 0 6px 4px 3px;
  }

  .headerWrapper {
    width: calc(100vw - 2 * var(--margin-S));
    z-index: 100000;
    margin-left: var(--margin-S);
  }

  .headerAboutBottomWrapper {
    display: none;
  }
  .headerAboutWrapper {
    display: none;
  }
  .headerAboutTop p,
  .headerAboutMid p {
    font-size: var(--XSfontSize);
    line-height: var(--XSfontLineHeight);
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .headerRightWrapper {
    width: 30vw;
    justify-content: space-between;
    padding-right: 4px;
  }
  .headerRightWrapper h2:nth-child(2) {
    text-align: right;
  }
  .headerRightWrapper h2:nth-child(3) {
    display: none;
  }
}
